<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="containter">

        <div>
            <form action="" method="post">
                <% for(student of studentList){ %>
                    <input type="checkbox" name="student" id="<%= student.id %>" value="<%= student.id %>">
                    <label for="<%= student.id %>"><%= student.name %></label><br>
                <% } %>
                <input type="submit" value="Allocate">
            </form>
        </div>

    </div>
    
</body>
</html>