<style>
    .data-table{
        padding: 10px;
        margin-top: 10px;
        font-size: 12px;
    }
</style>
<div class="col-md-12">
    <h6><u><%= title %></u></h6>
    <% if(dashboardData.length > 0){ %>
    <a href="/user/download" class="btn btn-info">Export Data</a>
    <% } %>
    <table class="table table-bordered table-responsive data-table"> 
        <thead>
            <tr>
            <th>#</th>
            <th>Student Id</th>    
            <th>Student Name</th>
            <th>Student College</th>
            <th>Student Status</th>
            <th>DSA Final Score</th>
            <th>WebD Final Score</th>
            <th>React Final Score</th>
            <th>Interview Date</th>
            <th>Interview Company</th>
            <th>Interview Result</th>
        </tr>
        </thead>
        <tbody>
            <% i =0; %>
            <% for(data of dashboardData){ i++; %>
            <tr>
            <td><%= i %></td>
            <td><%= data.student.id %></td>
            <td><%= data.student.name %></td>
            <td><%= data.student.college %></td>
            <td><%=  %> Placed</td>
            <td><%= data.student.dsa %></td>
            <td><%= data.student.webd %></td>
            <td><%= data.student.react %></td>
            <td><%= data.interview.interviewDate %></td>
            <td><%= data.interview.companyName  %></td>
            <td><%= data.result %></td>
            <% } %>
            </tr>
        </tbody>

    </table>
</div>